// 퍼블리싱제외 공통 scss

.uppercase {
  text-transform: uppercase;
}

.full-width {
  width: 100%;
}

.bg-grey-1 {
  background-color: #ededed;
}
.bg-grey-3 {
  background-color: #e4e6ef;
}

.btn-green-small {
  display: inline-block;
  height: 30px;
  padding: 8px 20px;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #1bc5bd;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.grey-text {
  background-color: #ededed;
  border-radius: 10px;
  min-height: 16px;
}

.el-popper {
  .el-popper__arrow {
    display: none;
  }
  &.feed-menu {
    border-radius: 8px;
  }
}

.el-select-dropdown__item {
  margin: 7px !important;
}
.el-select-dropdown__item.selected {
  color: #f97316 !important;
}
.el-select-dropdown__item.hover {
  color: #fff !important;
  background-color: #f97316 !important;
  border-radius: 4px;
}

.modal-area-type {
  max-width: 100% !important;
  min-width: 380px !important;
  border-radius: 10px !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  margin: 0px !important;
  transform: translate(-50%, -50%);
  .modal-alert {
    border-radius: 10px;
  }
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    padding: 0px;
  }
}

//게임 배너 사이즈 수정 모달
.modal-area-game-banner {
  border-radius: 10px !important;

  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    padding: 0px;
  }
}

//포스팅 작성 모달
.post-modal {
  max-width: 700px;
  border-radius: 10px !important;
  position: absolute !important;
  left: 50%;
  top: 50%;
  margin: 0px !important;
  transform: translate(-50%, -50%);
  .modal-alert {
    border-radius: 10px;
  }
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog__body {
    padding: 0px;
  }
}

//skeleton loading
.skeleton-animation {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

//like animation

// .like-icon {
//   &:hover {
//     -webkit-animation: like 1s ease;
//     animation: like 1s ease;
//     -webkit-animation-iteration-count: 1;
//     animation-iteration-count: 1;
//   }
// }

// @keyframes like {
//   15% {
//     -webkit-transform: translateY(5px);
//     transform: translateY(5px);
//   }
//   30% {
//     -webkit-transform: translateY(-5px);
//     transform: translateY(-5px);
//   }
//   50% {
//     -webkit-transform: translateY(3px);
//     transform: translateY(3px);
//   }
//   65% {
//     -webkit-transform: translateY(-3px);
//     transform: translateY(-3px);
//   }
//   80% {
//     -webkit-transform: translateY(2px);
//     transform: translateY(2px);
//   }
//   100% {
//     -webkit-transform: translateY(0);
//     transform: translateY(0);
//   }
// }

@media all and (max-width: 479px) {
  .post-modal {
    min-width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
  .post-modal {
    min-width: 100%;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .post-modal {
    min-width: 700px;
  }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
  .post-modal {
    min-width: 700px;
  }
}

@media all and (min-width: 1200px) {
}

.el-dropdown-menu__item:focus {
  border-radius: 10px;
  background-color: #ededed !important;
  color: #f97316 !important;
}

// swiper-css

.swiper-pagination-bullet-active {
  background-color: #f97316 !important;
}

.mp-image {
  .swiper-wrapper {
    display: flex;
  }
  .swiper-pagination-bullet {
    background-color: #fff !important;
    opacity: 1 !important;
  }
}

.loading-spinner {
  .el-loading-spinner .path {
    stroke: #f97316 !important;
  }
  .el-loading-text {
    color: #f97316 !important;
  }
}

.follow-btn-feed {
  .btn-default {
    margin-right: 10px;
    // margin: 0px 10px 15px 0px !important;
    font-size: 12px;
    background-color: transparent;
    color: #f97316 !important;
    font-weight: bold;

    padding: 0px !important;
    &.unfollow {
      background-color: transparent !important;
    }
    &.my-channel {
      display: none;
    }
  }
}

.xi-heart {
  transform-origin: center;
  animation: animateHeartOut 0.3s linear forwards;
}

@keyframes animateHeartOut {
  0% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@media all and (max-width: 479px) {
  .header-language {
    .el-input__inner {
      font-size: 16px !important;
    }
  }
  .ta-message-send {
    input {
      font-size: 14px;
    }
  }
  .modal-post {
    .editor-container {
      font-size: 16px;
    }
  }
  input,
  select,
  textarea {
    font-size: 16px;
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {
}

@media all and (min-width: 768px) and (max-width: 991px) {
}

@media all and (min-width: 992px) and (max-width: 1199px) {
}

@media all and (min-width: 1200px) {
}
