/* 새 메세지 */

.new-msg-modal {

  .ma-content {
    .input-search-default {
      justify-content: left
    }

    .user-list {
      max-height: 500px;
      overflow-y: scroll;
      padding-top: 20px;

      li {
        padding: 13px;
        border: 1px solid #ededed;
        border-radius: 10px;
        text-align: left;

        dt {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-weight: 600;
          }

          .nickname {
            color: #888
          }
        }
      }
    }
  }

}