/* 새 메세지 */

.new-msg-modal {

  .ma-content {
    .input-search-default {
      justify-content: left
    }

    .user-list {
      max-height: 500px;
      overflow-y: scroll;
      padding-top: 20px;

      li {
        padding: 13px;
        border: 1px solid #ededed;
        border-radius: 10px;
        text-align: left;

        dt {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h3 {
            font-weight: 600;
          }

          .nickname {
            color: #888
          }
        }
      }
    }
  }
}

/* dm 채팅창 */
@media all and (max-width: 479px) {
  .dm-list {
    padding: 30px 20px;
    height: 100%;

    .dl-title {
      .mobile-back-btn {
        background: transparent;
        border: none;
        color: #0d0d0d;
        font-size: 25px;
      }
    }

    .dl-content {
      height: 95%;

      .msg-container {
        .dlc-send-message {
          bottom: 20px
        }
      }

    }
  }
}

@media all and (min-width: 480px) and (max-width: 767px) {

  .dm-list {

    height: 100%;

    .dl-title {
      .mobile-back-btn {
        background: transparent;
        border: none;
        color: #0d0d0d;
        font-size: 20px;
      }
    }

    .dl-content {
      height: 95%;

      .msg-container {
        .dlc-send-message {
          width: 100%;
          bottom: 20px;
          left: 0px;
          padding: 0px 40px 0px 40px;
        }
      }

    }
  }
}