@charset "utf-8";


/* 폰트세팅 ******************************************************** */
/* 구글폰트 - 영문 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900');

/* 본고딕 - 국문 */
@font-face {
	font-family: 'NotoSansKR';
	font-style: normal;
	font-weight: 400;
	src: local('NotoSansKR-Regular'),

		url('/assets/fonts/NotoSans-Regular.eot'),
		url('/assets/fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/NotoSans-Regular.woff') format('woff'),
		url('/assets/fonts/NotoSans-Regular.otf') format('truetype');
}