@charset "utf-8";

/* press-start-2p-regular */
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/press-start-2p-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/press-start-2p-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/press-start-2p-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/press-start-2p-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/press-start-2p-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/press-start-2p-v12-latin-regular.svg#PressStart2P') format('svg');
  /* Legacy iOS */
}


/* russo-one-regular */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/russo-one-v13-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/assets/fonts/russo-one-v13-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/russo-one-v13-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/russo-one-v13-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/russo-one-v13-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/russo-one-v13-latin-regular.svg#RussoOne') format('svg');
  /* Legacy iOS */
}


@font-face {
  font-family: 'NeoDunggeunmo';
  font-weight: normal;
  font-style: normal;
  src: url('/assets/fonts/DungGeunMo.eot');
  /* IE9 Compat Modes */
  src: local('NeoDunggeunmo'),
    url('/assets/fonts/DungGeunMo.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/DungGeunMo.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/DungGeunMo.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/DungGeunMo.ttf') format('truetype');
  /* Safari, Android, iOS */
}